* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

/* ANIMATION BOUNCE */
@-webkit-keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}


html{
    scroll-behavior: smooth;
    cursor: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: none;
}

/* MOUSE */
.cursor {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    border: 3px solid #000000;
    border-radius: 100px;
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
  }
.cursor.is-moving {
    transform: scale(0.7);
  }

/* OBJECT */
.wrapper {
    position: relative;
  }

.container{
    position: relative;
}

    #judul{
        position: absolute;
        margin: -20px 25% 0;

        -webkit-animation: bounce 3s infinite ease-in-out;
        -o-animation: bounce 3s infinite ease-in-out;
        -ms-animation: bounce 3s infinite ease-in-out; 
        -moz-animation: bounce 3s infinite ease-in-out; 
        animation: bounce 3s infinite ease-in-out;
    }

    #leftBird{
        position: absolute;
        margin-top: 50px;
        margin-left: 60px;

        -webkit-animation: bounce 3s infinite ease-in-out;
        -o-animation: bounce 3s infinite ease-in-out;
        -ms-animation: bounce 3s infinite ease-in-out; 
        -moz-animation: bounce 3s infinite ease-in-out; 
        animation: bounce 3s infinite ease-in-out;
    }

    #rightBird{
        position: absolute;
        float: right;
        margin-top: 80px;
        margin-left: 1400px;

        -webkit-animation: bounce 3s infinite ease-in-out;
        -o-animation: bounce 3s infinite ease-in-out;
        -ms-animation: bounce 3s infinite ease-in-out; 
        -moz-animation: bounce 3s infinite ease-in-out; 
        animation: bounce 3s infinite ease-in-out;
    }

    
.cloud {
    -webkit-animation: clouds 60s infinite linear;
    -moz-animation: clouds 60s infinite linear;
    -ms-animation: clouds 60s infinite linear;
    -o-animation: clouds 60s infinite linear;
    animation: clouds 60s infinite linear;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: fixed;
    margin: 250px 0 0 0;
    width: 54px;
    height: 5px;
  }
  .cloud.tiny {
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  .cloud.small {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .cloud.normal {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
  .cloud.large {
    -moz-transform: scale(4, 4);
    -ms-transform: scale(4, 4);
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
  }
  .cloud div {
    -moz-box-shadow: inset -2px -3px 0 0 #f7e7eb;
    -webkit-box-shadow: inset -2px -3px 0 0 #f7e7eb;
    box-shadow: inset -2px -3px 0 0 #f7e7eb;
    position: fixed;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: -3px;
    bottom: 0;
    background: #fafbf0;
    z-index: 10;
  }
  .cloud div:first-child + div {
    -moz-transform: scale(1.6, 1.6);
    -ms-transform: scale(1.6, 1.6);
    -webkit-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6);
    margin: 0 0 4px 13px;
    z-index: 9;
  }
  .cloud div:first-child + div + div {
    -moz-transform: scale(2.4, 2.4);
    -ms-transform: scale(2.4, 2.4);
    -webkit-transform: scale(2.4, 2.4);
    transform: scale(2.4, 2.4);
    margin: 0 0 9px 32px;
    z-index: 8;
  }
  .cloud div:first-child + div + div + div {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    margin: 0 0 2px 50px;
    z-index: 7;
  }
  
  @-webkit-keyframes clouds {
    0% {
      left: -100%;
    }
    100% {
      left: 120%;
    }
  }
  @-moz-keyframes clouds {
    0% {
      left: -100%;
    }
    100% {
      left: 120%;
    }
  }
  @-ms-keyframes clouds {
    0% {
      left: -100%;
    }
    100% {
      left: 120%;
    }
  }
  @keyframes clouds {
    0% {
      left: -100%;
    }
    100% {
      left: 120%;
    }
  }
  .cloud-1 {
    -webkit-animation-duration: 263s;
    -moz-animation-duration: 263s;
    -ms-animation-duration: 263s;
    -o-animation-duration: 263s;
    animation-duration: 263s;
    margin-left: 20%;
    margin-top: 270px;
  }
  
  .cloud-2 {
    -webkit-animation-duration: 99s;
    -moz-animation-duration: 99s;
    -ms-animation-duration: 99s;
    -o-animation-duration: 99s;
    animation-duration: 99s;
    margin-left: 90%;
    margin-top: 70px;
  }
  
  .cloud-3 {
    -webkit-animation-duration: 142s;
    -moz-animation-duration: 142s;
    -ms-animation-duration: 142s;
    -o-animation-duration: 142s;
    animation-duration: 142s;
    margin-left: 50%;
    margin-top: 120px;
  }
  
  .cloud-4 {
    -webkit-animation-duration: 152s;
    -moz-animation-duration: 152s;
    -ms-animation-duration: 152s;
    -o-animation-duration: 152s;
    animation-duration: 152s;
    margin-left: 43%;
    margin-top: 100px;
  }
  
  .cloud-5 {
    -webkit-animation-duration: 215s;
    -moz-animation-duration: 215s;
    -ms-animation-duration: 215s;
    -o-animation-duration: 215s;
    animation-duration: 215s;
    margin-left: 83%;
    margin-top: 200px;
  }
  
  .cloud-6 {
    -webkit-animation-duration: 139s;
    -moz-animation-duration: 139s;
    -ms-animation-duration: 139s;
    -o-animation-duration: 139s;
    animation-duration: 139s;
    margin-left: 73%;
    margin-top: 120px;
  }
  
  .cloud-7 {
    -webkit-animation-duration: 109s;
    -moz-animation-duration: 109s;
    -ms-animation-duration: 109s;
    -o-animation-duration: 109s;
    animation-duration: 109s;
    margin-left: 69%;
    margin-top: 90px;
  }
  
  .cloud-8 {
    -webkit-animation-duration: 121s;
    -moz-animation-duration: 121s;
    -ms-animation-duration: 121s;
    -o-animation-duration: 121s;
    animation-duration: 121s;
    margin-left: 100%;
  }
  
  .cloud-9 {
    -webkit-animation-duration: 101s;
    -moz-animation-duration: 101s;
    -ms-animation-duration: 101s;
    -o-animation-duration: 101s;
    animation-duration: 101s;
    margin-left: 10%;
    margin-top: 180px;
  }
  
  .cloud-10 {
    -webkit-animation-duration: 126s;
    -moz-animation-duration: 126s;
    -ms-animation-duration: 126s;
    -o-animation-duration: 126s;
    animation-duration: 126s;
    margin-left: 14%;
    margin-top: 200px;
  }
  
  .cloud-11 {
    -webkit-animation-duration: 96s;
    -moz-animation-duration: 96s;
    -ms-animation-duration: 96s;
    -o-animation-duration: 96s;
    animation-duration: 96s;
    margin-left: 73%;
    margin-top: 150px;
  }
  
  .cloud-12 {
    -webkit-animation-duration: 83s;
    -moz-animation-duration: 83s;
    -ms-animation-duration: 83s;
    -o-animation-duration: 83s;
    animation-duration: 83s;
    margin-left: 51%;
    margin-top: 250px;
  }

nav{
    width:100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    float: right;
}

a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;

    text-transform: uppercase;
    font-weight: bold;
}

#section1{
    height: 1000px;
    /* background: rgb(87, 156, 229); */
    background-image: url("Asset/Frame 1.png");
    background-size: 2000px 1000px;
    display: inline-block;
    width: 100%;
}

#section2{
    height: 1000px;
    /* background: blueviolet; */
    background-image: url("Asset/bg2.png");
    background-size: 2000px 1000px;
    display: inline-block;
    width: 100%;
}

#section3{
    height: 1000px;
    /* background: pink; */
    background-image: url("Asset/bg2.png");
    background-size: cover;
    display: inline-block;
    width: 100%;
}

h1{
    margin-top: 300px;
    text-align: center;
    padding: 0;
}













